* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
}

.offer--col {
  padding: 15px;
}

.feedback__content .owl-theme .owl-dots .owl-dot span {
  background-color: #ff4f81;
  opacity: 0.5;
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span,
.feedback__content .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ff4f81;
  opacity: 1;
}

.feedback__content .owl-theme .owl-dots .owl-dot:focus {
  outline: 0;
}

.news__content .row:last-child {
  margin-top: 5rem;
}

header .header__top {
  background-color: #ff4f81;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
}

header .header__top .header__left a {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  color: #fff !important;
  text-decoration: none !important;
}

header .header__top .header__left a:hover {
  color: #333 !important;
}

header .header__top .header__left a:first-child {
  margin-right: 1.25rem;
}

header .header__top .header__right i {
  color: #333;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  font-size: 1.5rem;
}

header .header__top .header__right i:hover {
  border: 1px solid #fff;
  color: #fff;
}

header .myNavbar .navbar-brand {
  text-align: center;
}

header .myNavbar .navbar-brand i {
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}

header .myNavbar .navbar-brand p:first-child {
  color: #333;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0;
}

header .myNavbar .navbar-brand p:last-child {
  color: #ff4f81;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 3px;
}

header .myNavbar #navbarInstruction .navbar-nav {
  margin-left: auto;
}

header .myNavbar #navbarInstruction .navbar-nav .nav-item {
  margin: 0 15px;
}

header .myNavbar #navbarInstruction .navbar-nav .nav-item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ff4f81;
  display: block;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

header .myNavbar #navbarInstruction .navbar-nav .nav-item:hover::after, header .myNavbar #navbarInstruction .navbar-nav .nav-item.active::after {
  width: 100%;
}

header .myNavbar #navbarInstruction .navbar-nav .nav-item .nav-link {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

header .myNavbar #navbarInstruction .navbar-nav .nav-item.active .nav-link,
header .myNavbar #navbarInstruction .navbar-nav .nav-item:hover .nav-link {
  color: #ff4f81;
}

header .myNavbar #navbarInstruction .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
}

header .myNavbar #navbarInstruction .dropdown-menu .dropdown-item {
  color: #fff;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

header .myNavbar #navbarInstruction .dropdown-menu .dropdown-item:hover, header .myNavbar #navbarInstruction .dropdown-menu .dropdown-item:focus {
  background-color: transparent;
  color: #ff4f81;
}

footer {
  background-color: #141515;
  letter-spacing: 1px;
}

footer .footer__top h3,
footer .footer__top label {
  color: #ff4f81;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

footer .footer__top p {
  color: #8e8e8e;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 2rem;
  line-height: 2em;
}

footer .footer__top .footer__link,
footer .footer__top .footer__contact {
  margin-bottom: 1rem;
}

footer .footer__top .footer__link i,
footer .footer__top .footer__contact i {
  color: #ff4f81;
  margin-right: 1rem;
  font-size: 1rem;
}

footer .footer__top .footer__link a,
footer .footer__top .footer__link .footer__contact a,
footer .footer__top .footer__contact a,
footer .footer__top .footer__contact .footer__contact a {
  color: #8e8e8e;
  font-size: 15px;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .footer__top .footer__contact i {
  width: 32px;
  height: 32px;
  border: 1px solid #4b4b50;
  color: white;
  line-height: 32px;
  text-align: center;
  margin-right: 1rem;
}

footer .footer__top .footer__form {
  margin-top: 3rem;
}

footer .footer__top .footer__form input {
  padding: 14px;
  border-radius: 0;
  border: none;
  color: #888;
  height: auto;
}

footer .footer__top .footer__form button {
  padding: 12px 35px;
  border-radius: 0;
  background-color: #ff4f81;
  color: white;
  outline: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

footer .footer__top .footer__form button:hover {
  background-color: #ec1955;
}

footer .footer__bottom {
  background-color: #0f0f10;
  text-align: center;
  padding: 16px 0;
  color: #fff;
}

footer .footer__bottom a {
  text-decoration: none;
  color: #ff4f81;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .footer__bottom a:hover {
  color: #fff;
}

#myCarousel .carousel-item .carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 132, 163, 0.2);
}

#myCarousel .carousel-item .carousel-caption {
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#myCarousel .carousel-item .carousel-caption h1 {
  font-size: 52px;
}

#myCarousel .carousel-item .carousel-caption p {
  letter-spacing: 4px;
  line-height: 1.8rem;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: 300;
}

.welcome__content > p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  line-height: 1.8em;
  color: #999;
  letter-spacing: 1px;
  padding: 1rem 0 5rem;
}

.welcome__content .welcome__courses .col-4 {
  padding: 2rem !important;
}

.welcome__content .welcome__courses .col-4 .welcome__item h3 {
  color: #ff4f81;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem 0;
}

.welcome__content .welcome__courses .col-4 .welcome__item h4 {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin: 1rem 0 0.2rem;
}

.welcome__content .welcome__courses .col-4 .welcome__item p {
  color: #999;
  font-size: 15px;
  font-weight: normal;
  margin: 10px 0 0;
}

.ourStats {
  background: url(../../img/banner2.jpg) fixed;
  background-size: cover;
}

.ourStats .heading p::after {
  background-color: #fff;
}

.ourStats__content {
  text-align: center;
  color: #fff;
}

.ourStats__content .ourStats__item h3 {
  color: #ff4f81;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 30px 0 20px;
}

.ourStats__content .ourStats__item p {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 300;
}

.offer heading > p {
  text-transform: capitalize;
}

.offer .offer__content .offer__item {
  padding: 25px 40px;
  -webkit-box-shadow: 0 1px 8px 0 rgba(158, 158, 158, 0.75);
          box-shadow: 0 1px 8px 0 rgba(158, 158, 158, 0.75);
  text-align: center;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.offer .offer__content .offer__item i {
  color: #ff4f81;
}

.offer .offer__content .offer__item h3 {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  margin: 25px 0 20px;
}

.offer .offer__content .offer__item p {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.offer .offer__content .offer__item:hover {
  background-color: #12ccc3;
}

.feedback {
  background: url(../img/banner3.jpg) center fixed;
  background-size: cover;
}

.feedback__content {
  -webkit-box-shadow: 0 1px 7px #8e8e8e;
          box-shadow: 0 1px 7px #8e8e8e;
  background-color: rgba(0, 0, 0, 0.47);
  padding: 16px;
}

.feedback__content .item {
  color: #fff;
  padding: 16px;
}

.feedback__content .item .feedback__top {
  padding: 16px 24px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.47);
  position: relative;
}

.feedback__content .item .feedback__top::after {
  content: "";
  border-top: 9px solid rgba(0, 0, 0, 0.47);
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  display: block;
  position: absolute;
  bottom: -7%;
  left: 28%;
}

.feedback__content .item .feedback__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
  margin: 2rem auto 0;
}

.feedback__content .item .feedback__bottom img {
  width: 28%;
  display: inline-block;
}

.feedback__content .item .feedback__bottom .feedback__name {
  margin-left: 2px;
}

.feedback__content .item .feedback__bottom .feedback__name h5 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0;
}

.feedback__content .item .feedback__bottom .feedback__name p {
  margin: 0;
  color: #ff4f81;
}

.news .news__content h3 {
  font-size: 20px;
  font-weight: bold;
}

.news .news__content a {
  text-decoration: none;
  color: #333;
  letter-spacing: 1px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.news .news__content a:hover {
  color: #ff4f81;
}

.news .news__content h4 {
  color: #ff4f81;
  font-size: 16px;
  font-weight: bold;
  margin: 16px 0;
}

.news .news__content p {
  color: #999;
  font-size: 0.9rem;
  font-weight: normal;
  margin-top: 1rem;
  line-height: 1.8rem;
}

.news .news__content img {
  border: 2px solid #8e8e8e;
}

.myBtn {
  padding: 11px 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.myBtn:hover {
  color: #fff;
  background-color: #ff4f81;
  border-color: #ff4f81;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading--white p {
  color: #fff !important;
}

.heading--white > p::after {
  background-color: #fff !important;
}

.heading h2 {
  color: #ff4f81;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.heading p {
  letter-spacing: 4px;
  color: #333;
  font-size: 17px;
}

.heading p::after {
  content: "";
  width: 70px;
  height: 2px;
  background-color: #333;
  display: block;
  margin: 20px auto;
}

.section {
  padding: 5rem 0;
}

.section i {
  font-size: 2.5rem;
}

#myModal .modal-dialog {
  max-width: 600px;
}

#myModal .modal-dialog h5 {
  color: #ff4f81;
  font-size: 31px;
  font-weight: bold;
}

#myModal .modal-dialog .modal-body p {
  font-size: 14px;
  color: #777;
  line-height: 1.8em;
  padding: 20px 0;
}
/*# sourceMappingURL=main.css.map */