//*Helpers
@import "./Helpers/variables";
@import "./Helpers/mixin";

//*Base
@import "./Base/reset";
@import "./Base/customise";

//*Layouts
@import "./Layouts/header";
@import "./Layouts/footer";
@import "./Layouts/carousel";
@import "./Layouts/welcome";
@import "./Layouts/ourStats";
@import "./Layouts/offer";
@import "./Layouts/feedback";
@import "./Layouts/news";

//*Components
@import "./Components/button";
@import "./Components/heading";
@import "./Components/section";
@import "./Components/modal";
