.myBtn {
    padding: $pd-1 + 1 $pd-2;
    color: $color-white-0;
    border: 1px solid $color-white-0;
    border-radius: 0;
    transition: 0.5s all;
    &:hover {
        color: $color-white-0;
        background-color: $color-pink-0;

        border-color: $color-pink-0;
    }
}
