.heading {
    text-align: center;
    margin-bottom: 3rem;
    &--white p {
        color: $color-white-0 !important;
    }
    &--white > p::after {
        background-color: $color-white-0 !important;
    }
    & h2 {
        @include styleText($color-pink-0, $fs-2 + 4, $fw-3);
        letter-spacing: 0.5px;
    }
    & p {
        letter-spacing: 4px;
        color: $color-black-0;
        font-size: $fs-1 + 1;
    }
    & p::after {
        content: "";
        width: 70px;
        height: 2px;
        background-color: $color-black-0;
        display: block;
        margin: 20px auto;
    }
}
