//*color
$color-pink-0: #ff4f81;

$color-white-0: #fff;

$color-black-0: #333;
$color-black-1: rgba(0, 0, 0, 0.6);

//* padding
$pd-0: 5px;
$pd-1: 10px;

//* margin
$mg-0: 15px;

//* font-size
$fs-0: 11px;
$fs-1: 16px;
$fs-2: 36px;

//* font-weight
$fw-0: normal;
$fw-1: 600;
$fw-2: 700;
