//*color
$color-pink-0: #ff4f81;

$color-white-0: #fff;

$color-black-0: #333;
$color-black-1: rgba(0, 0, 0, 0.6);
$color-black-2: rgba(0, 0, 0, 0.47);

$color-gray-0: #999;
$color-gray-1: #8e8e8e;

$color-green-0: #12ccc3;

$color-overlay-0: rgba(48, 132, 163, 0.2);

//* padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 40px;

//* margin
$mg-0: 15px;
$mg-1: 25px;

//* font-size
$fs-0: 11px;
$fs-1: 16px;
$fs-2: 36px;
$fs-3: 52px;

//* font-weight
$fw-0: normal;
$fw-1: 600;
$fw-2: 700;
$fw-3: bold;

//* letter spacing
$ls-0: 4px;
