#myCarousel {
    .carousel-item {
        .carousel-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-overlay-0;
        }
        .carousel-caption {
            top: 60%;
            left: 50%;

            transform: translate(-50%, -50%);
            h1 {
                font-size: $fs-3;
            }
            p {
                letter-spacing: $ls-0;
                line-height: 1.8rem;

                width: 70%;
                margin: 0 auto;

                margin-bottom: $mg-1;

                font-weight: 300;
            }
        }
    }
}
