footer {
    background-color: #141515;
    letter-spacing: 1px;
    .footer__top {
        h3,
        label {
            @include styleText($color-pink-0, 24px, $fw-3);
            margin-bottom: 1.5rem;
        }
        p {
            @include styleText($color-gray-1, $fs-1 - 1, $fw-0);
            margin-bottom: 2rem;
            line-height: 2em;
        }
        .footer__link,
        .footer__contact {
            margin-bottom: 1rem;
            & i {
                color: $color-pink-0;
                margin-right: 1rem;
                font-size: 1rem;
            }
            & a,
            .footer__contact a {
                @include styleText($color-gray-1, $fs-1 - 1, $fw-0);
                text-transform: none;
                line-height: 1.5rem;
                transition: all 0.5s;
            }
        }
        .footer__contact i {
            width: 32px;
            height: 32px;
            border: 1px solid #4b4b50;
            color: white;
            line-height: 32px;
            text-align: center;
            margin-right: 1rem;
        }

        .footer__form {
            margin-top: 3rem;
            & input {
                padding: 14px;
                border-radius: 0;
                border: none;
                color: #888;
                height: auto;
            }
            & button {
                padding: $pd-1 + 2 $pd-3 - 5;
                border-radius: 0;
                background-color: $color-pink-0;

                color: white;
                outline: none;

                transition: 0.5s all;
                &:hover {
                    background-color: #ec1955;
                }
            }
        }
    }
    .footer__bottom {
        background-color: #0f0f10;
        text-align: center;
        padding: $pd-2 - 4 0;
        color: $color-white-0;
        a {
            text-decoration: none;
            color: $color-pink-0;
            transition: all 0.5s;
            &:hover {
                color: $color-white-0;
            }
        }
    }
}
