header{
    .header__top{
        background-color: $color-pink-0;
        display: flex;
        justify-content: space-between;
        padding: $pd-0 $pd-1;
        .header__left{
            a{
                transition: .5s all;
                color: $color-white-0!important;
                text-decoration: none!important;
                &:hover{
                    color: $color-black-0!important;
                }
                &:first-child{
                    margin-right: 1.25rem;
                }
            }
        }
        .header__right{
            i{
                color: $color-black-0;
                transition: .5s all;
                font-size: 1.5rem;
                &:hover{
                    border: 1px solid $color-white-0;
                    color: $color-white-0;
                }
            }
        }
    }
}