.welcome__content {
    & > p {
        width: 80%;
        margin: 0 auto;

        text-align: center;
        font-size: $fs-1 - 1;
        line-height: 1.8em;
        color: $color-gray-0;
        letter-spacing: 1px;
        padding: 1rem 0 5rem;
    }

    .welcome__courses {
        .col-4 {
            padding: 2rem !important;
            .welcome__item {
                h3 {
                    @include styleText($color-pink-0, 1.8rem, $fw-3);
                    margin: 1rem 0;
                }
                h4 {
                    @include styleText($color-black-0, $fs-1, $fw-3);
                    margin: 1rem 0 0.2rem;
                }
                p {
                    @include styleText($color-gray-0, $fs-1 - 1, $fw-0);
                    margin: $mg-0 - 5px 0 0;
                }
            }
        }
    }
}
